<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            ngModel
            name="name"
            required
            type="text"
            id="name"
            class="form-control">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            ngModel
            name="amount"
            required
            pattern="[1-9]+[0-9]*$"
            type="number"
            id="amount"
            class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            [disabled]="!form.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button
            (click)="onDelete()"
            class="btn btn-danger"
            type="button"
            *ngIf="editMode">Delete</button>
          <button
            (click)="onClear()"
            class="btn btn-primary"
            type="button"
            [disabled]="!form.dirty">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
